[submodule "6/assembler"]
	path = 6/assembler
	url = git@github.com:paudsu01/Nand2TetrisAssembler.git
[submodule "7and8/VMTranslator"]
	path = 7and8/VMTranslator
	url = git@github.com:paudsu01/nand2tetrisVMTranslator.git
[submodule "9/FlappyBirdInJack"]
	path = 9/FlappyBirdInJack
	url = git@github.com:paudsu01/FlappyBirdInJack.git
[submodule "10/compilerXML"]
	path = 10/compilerXML
	url = git@github.com:paudsu01/nand2tetrisCompiler.git
[submodule "11/JACKCompiler"]
	path = 11/JACKCompiler
	url = git@github.com:paudsu01/nand2tetrisCompiler.git
